*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
body{
	font-family: "segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	margin: 0px;
	font-size: 15px;
	line-height: 30px;
}
.logo{
	width: 100px;
	height: 100px;


}
.logo_wrapper{
	display: flex;
	flex-direction: row;
	padding: 0px;
}
.logo_header{
	color:grey;
	margin-top: 40px;
	margin-left: 0px;
}
a{
	color: #262626;
	text-decoration: none;
}
ul{
	list-style: none;
}
.container_wrapper{
	width: 90%;
	max-width: 1100px;
	margin: auto;
}
/*NAv*/
.main_nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	padding: 20px 0px;
	font-size: 12px;
}
.main_menu,
.right_menu{
	display: flex;
	justify-content: space-between;
}
.main_nav ul li{
	padding: 0px 15px;
}
.main_nav ul li a{
	padding-bottom: 2px;
}
.main_nav ul li a:hover{
	border-bottom: 2px solid #262626;
}
.shop_btn{
	display: inline-block;
	cursor: pointer;
	border: none;
	font-weight: bold;
	padding: 5px;
	background-color: #000;
	color: #fff;
	margin-top: 20px;

}
.shop_btn:hover{
	background-color: #e5e5e5;
	color: #000;
	opacity: 0.9;
}
/*SHOWCASE
*/
.showcase{
	width: 100%;
	height: 500px;
	background-image:url('images/tablet.jpg');
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	padding-bottom: 40px;

   
}   
.showcase h1{
	margin-bottom: : 20px;
}
.showcase p{
 margin-bottom: 20px;
}

/*Home Cards*/
.home__cards img{
	width: 100%;

	margin-top: 20px;
}
.home__cards{
	display: grid;
	grid-template-columns: repeat(4, 1fr); 
	grid-gap: 20px;
	margin-bottom: 30px;
}
.home__cards h1{
	margin-bottom: 20px;
}
.home__cards a{
	cursor: pointer;
	padding: 5px;
	color:blue;
	display: inline-block;
	text-transform: uppercase;
}
.home__cards a:hover i{
	margin-left: 15px;
	font-size: 20px;
}
/*Xbox*/
.headers{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
.Xbox_section{
	width: 100%;
	height: 400px;
	background-image: url("images/chess.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	margin-bottom: 30px;
}

.shop_btn a:hover i{
	margin-left: 10px;
	color:pink;
}
.content_wrapper{
	width: 50%;
	padding: 30px 10px;
}
.content_wrapper p{
	margin: 10px 0px 10px;
}
/*CARBON*/
.carbon_content{

}
.btn_carbon{
	
	color: #fff;
	cursor: pointer;
	padding: 10px;
}
.btn_carbon a:hover i{
	margin-left: 5px;
	color: pink;
}
.nature{
	width: 100%;
	height: 400px;
	background-image: url("images/carbon.jpg");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 10px 20px;
	margin-bottom: 20px;
}
.carbon_content {
	width: 50%;
	padding: 60px 0px 0px 30px;
}
.dark{
	color: #fff;
}
.carbon_content p{
	margin: 10px 0px 10px;

}
/*social icons*/
.social_icons{
	width: 40px;
	height: 40px;
	background-color: blue;
	line-height: 20px;
	padding: 10px;
}
.social_icons2{
	width: 40px;
	height: 40px;
	background-color: aqua;
	line-height: 20px;
	padding: 10px;
	
}
.social_icons3{
	width: 40px;
	height: 40px;
	background-color: blue;
	line-height: 20px;
	padding: 10px;
}
.social_media{
	font-weight: bold;
}

a .fab{
	color: #fff;
}
.follow{
	display: flex;
	flex-direction: row;
	margin: 5px;
}
.follow *{
	margin-right: 10px;
}

/*links*/
.links{
	background-color:#f2f2f2;
	color:#616161;
	font-size: 15px;
	padding: 25px 0px;
}
.inner_links{
	display: grid;
	max-width: 1100px;
	margin: auto;
	padding: 0 20px;
	grid-template-columns:repeat(6,1fr);
	grid-gap:12px;
}

/*FOOTER*/
.main_footer{
	padding: 20px 0px;
	background-color: #f2f2f2;
	font-size: 15px;
	color:#616161;
}
.inner_footer{
	margin: auto;
    max-width: 1100px;
    display: flex;
    justify-content: space-around;

}
.key_features{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.key_features li{
	padding: 8px;
}
@media(max-width: 700px){
	.home__cards{
		grid-template-columns: repeat(2 1fr);
	}
	.content_wrapper p{
		width: 30%;
	}
	.carbon_content{
		width: 80%;
		font-size: 20px;
	}
  .inner_links{
  	grid-template-columns: repeat(2 1fr);
  }

}
@media(max-width: 500px){
	.home__cards{
		grid-template-columns: 1fr;
	}
	.inner_links{
		grid-template-columns: 1fr;
	}
	.inner-links ul{
		margin-bottom: 25px;
	}
}